/* Переменные */

:root {
    --bg-black: #181617;
    --bg-gray: #1F1C1D;
    --text-white: #FFFFFF;
    --text-orange: #A07B50;
    --text-light: #DDD0C3;
}

/* Базовые стили */

body {
    margin: 0;
    padding: 0;
    min-width: 360px;
    min-height: 100vh;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    font-style: normal;
    color: var(--text-white);
    background-color: var(--bg-gray);
}

/* Чтобы в элементах форм использовался тот же шрифт, что и у основного текста */
input,
textarea,
select,
button {
    font: inherit;
}

/* Позволяет задавать размеры так, как они указаны в макете */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Отключает подчёркивание ссылок по умолчанию. Наследует шрифт от страницы */
.link {
    text-decoration: none;
    color: inherit;
}

/* Сбрасывает у списков маргины, паддинги и буллиты */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Исключает выпадение изображений за границы родителя */
.img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Класс для скрытия элементов, которые должны быть визуально скрыты, но их нельзя убирать со страницы */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Для облегчения вёрстки (потом убрать). Добавляет тонкую серую границу элементам */

* {
    outline: 1px solid gray;
}

/* Сеточные стили. Примеры медиа-запросов для вёрстки mobile-first */

.container {
    min-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}

@media (min-width: 1920px) {
    .container {
        padding: 0 60px;
    }
}

/* Кнопки */

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.button--action {
    padding: 15px 18px 16px;
    border: 0.5px solid var(--text-orange);
}

/* Стили для хедера */

.header {
    padding-top: 27px;
    background-color: var(--bg-black);
}

.header__content {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
}

/* Стили для основного содержания */

/* Стили для модуля */

.module__title {
    margin: 0;
    padding: 0;
    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 28px;
    line-height: 100%;
    font-weight: 400;
    text-align: center;
}

/* Промо */

.promo {
    padding-top: 57px;
    padding-bottom: 276px;
    background-color: var(--bg-black);
    background-image: url("../imgs/content/cat_mobile.png");
    background-repeat: no-repeat;
    background-position: 100% bottom;
}

.promo__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__subtitle {
    margin: 0;
    margin-bottom: 20px;
    line-height: 150%;
    color: var(--text-orange);
    text-align: center;
}

.promo__title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 400;
}

.promo__slogan {
    max-width: 230px;
    margin: 0;
    margin-bottom: 40px;
    color: var(--text-orange);
    text-align: center;
}

.promo__link {
    font: inherit;
    font-size: 12px;
    font-weight: 700;
}

.promo__social {
    display: none;
}

/* Питомцы */

.pets {
    padding-top: 60px;
}

.pets__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets__title {
    margin-bottom: 35px;
}

.pets__text {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    color: var(--text-orange);
    text-align: center;
}

.pets__link {
    font-size: 12px;
    font-weight: 700;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 235px;
    margin-bottom: 40px;
}

.tabs__item:not(:last-child) {
    margin-right: 45px;
}

.tabs__link {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.2);
}

.tabs__item--active .tabs__link {
    color: var(--text-white);
}

/* Особенности породы */

.distinctions__text {
    margin: 0;
    font-weight: 300;
    color: var(--text-orange);
    text-align: center;
}

.distinctions__img-wrap {
    display: flex;
}

.distinctions__list {
    font-weight: 300;
}

/* Об уходе */

.advantages__text {
    margin: 0;
    font-weight: 300;
    color: var(--text-orange);
    text-align: center;
}

.advantage__title {
    margin: 0;
    font-weight: 300;
    text-align: center;
}

/* Об уходе за Мейн-Куном */

.advise__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-orange);
}

.advise__text {
    margin: 0;
}

/* Наша команда */

.team__text {
    margin: 0;
    font-weight: 300;
    color: var(--text-orange);
    text-align: center;
}

.slide__img-wrap {
    display: flex;
}

.slide__title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-orange);
}

.slide__descr {
    margin: 0;
    color: var(--text-orange);
}

.slide__text {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.72);
    text-align: center;
}

/* Вопрос-Ответ */

.faq__text {
    margin: 0;
    font-weight: 300;
    color: var(--text-orange);
    text-align: center;
}

.question__text {
    font-weight: 500;
    color: var(--text-light);
}

.question__para {
    font-weight: 300;
    color: var(--text-light);
}

/* Отзывы */

.reviews .slide__title {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-white);
    text-align: center;
}

.reviews .slide__text {
    margin: 0;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.72);
}

.reviews .slide__date {
    margin: 0;
    font-size: 12px;
    color: var(--text-orange);
}

/* Стили для футера */

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--bg-black);
}

.footer .container {
    padding-left: 28px;
    padding-right: 28px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address {
    color: #D6CCC2;
    margin-bottom: 20px;
}

.phone {
    margin-bottom: 25px;
}

.footer__social {
    margin-bottom: 25px;
}
